<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style_contact_me.css">
    <link rel="icon" type="image/x-icon" href="/img/chatting.webp">
    <script src="/js/script_contact_me.js" defer></script>
    <title>Contact me</title>
</head>
<body>
    <div class="loadfn"></div>
    <section class="navbar">
        <div class="logo">
            <a href="/"><h1>Deepak <span class="soni">Soni</span></h1></a>
        </div>
        <div class="appbox">
            <div class="appbox_dots"></div>
            <div class="appbox_dots"></div>
            <div class="appbox_dots"></div>
            <div class="appbox_dots"></div>
            <div class="appbox_dots"></div>
            <div class="appbox_dots"></div>
            <div class="appbox_dots"></div>
            <div class="appbox_dots"></div>
            <div class="appbox_dots"></div>
        </div>
        <div class="appbox_a appbox_a_invert">
            <a href="/" ><img src="img/appbox_icon/home.svg" alt="home"></a>
            <a href="/about" ><img src="img/appbox_icon/person.svg" alt="about"></a>
            <a href="/contact" ><img src="img/appbox_icon/mail.svg"alt="contact"></a>
            
            <div class="contact_trigger_button">
                <a href="#"><img src="img/appbox_icon/call.svg" alt="contact_button"></a>
            </div>
        </div>
        <div class="dark-theme">
            <img src="/img/dark_mode_button/brightness-high-fill.svg" alt="theme_button">
        </div>
        <div class="contact contact_invert">
            <a href="https://www.facebook.com/deepaksoni0197" target="_blank" ><img src="/img/appbox_icon/Social_media_icon/logo-facebook.svg" alt="facebook"></a>
            <a href="https://twitter.com/deepaksoni_1997" target="_blank" ><img src="/img/appbox_icon/Social_media_icon/logo-twitter.svg" alt="twitter"></a>
            <a href="https://www.instagram.com/deepaksoni_1997/" target="_blank" ><img src="/img/appbox_icon/Social_media_icon/logo-instagram.svg" alt="instagram"></a>
            <a href="https://wa.me/918894068953?text=I%20came%20here%20from%20your%20website" target="_blank"><img src="/img/appbox_icon/Social_media_icon/logo-whatsapp.svg" alt="whatsapp"></a>
        </div>
        <div class="scroll_to_top">
            <p>↑</p>
        </div>
    </section>
    
    <section>
        <div class="contact_h">
            <h1>Contact Details</h1>
        </div>
        <div class="contact_sec">
            <div class="contact_details">
                <div class="phone_no" target="_blank">
                    <p>Phone:</p>
                    <a href="tel:+918894068953">Make a Call</a>
                </div>
                <div class="whatsapp_no" target="_blank">
                    <p>Whatsapp:</p>
                    <a href="https://wa.me/918894068953?text=I%20came%20here%20from%20your%20website" target="_blank">Chat on Whatsapp</a>
                </div>
                <div class="E-mail_id">
                    <p>E-mail:</p>
                    <a href = "mailto: deepakhomemail@gmail.com" target="_blank">Send Mail</a>
                </div>
            </div>
            <div class="contact_img">
                <img src="/img/undraw_Personal_email.png" alt="contact-us">
            </div>
        </div>
    </section>


    <section class="body_fourth hidden">
        <div class="contact_heading">
            <h1>Feel Free to<br> Contact Me →</h1>
        </div>
        <div class="contact_page">
            <form action="/" method="post" >
                <input class="form_input" type="text" id="name" name="name" placeholder="Name" required>
                <input class="form_input" type="text" id="company" name="company" placeholder="Company Name">
                <input class="form_input" type="email" id="e-mail" name="email" placeholder="Email" required>
                <input class="form_input" type="text-area" id="text-area" name="message" placeholder="Message" required>
                <input class="form_input" type="submit" id="submit_button" value="Submit">
                <input class="form_input" type="reset" id="reset_button" value="Reset">
            </form>
        </div>
    </section>

    <footer>
        <div class="footer">
            <div class="bottom_appbox_a">
                <h1>Social</h1>
                <a href="https://www.facebook.com/deepaksoni0197" target="_blank">Facebook</a>
                <a href="https://twitter.com/deepaksoni_1997" target="_blank">Twitter</a>
                <a href="https://www.instagram.com/deepaksoni_1997/" target="_blank">instagram</a>
                <a href="https://wa.me/918894068953?text=I%20came%20here%20from%20your%20website" target="_blank">Whatsapp</a>
            </div>
            <div class="end_text">
                <h1>Deepak <span class="soni">Soni</span></h1>
                <p>Hey, I'm Deepak Soni from Himachal Pradesh and I am a web developer. Contact me for any other information.</p>
            </div>
            <div class="bottom_appbox_a">
                <h1>Links</h1>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/gallery">Portfolio</a>
                <a href="/contact">Contact</a>
            </div>
            <div class="footer_copyright">
                <p>Created by Deepak Soni | All Right Reserved</p>
            </div>
        </div>
        </footer>

</body>

<script>
    let loadScreen = document.getElementsByClassName('loadfn')[0];
    window.addEventListener('load',()=>{
        loadScreen.style.display = 'none';
    });
</script>

</html>