<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/img/chatting.webp">
    <script src="/js/script.js" defer></script>
    <title>Deepak Soni | Web Developrer</title>
</head>

<body>
    <div class="loadfn"></div>
    <section class="navbar">
        <div class="logo">
            <a href="/"><h1>Deepak <span class="soni">Soni</span></h1></a>
        </div>
        <div class="appbox">
            <div class="appbox_dots"></div>
            <div class="appbox_dots"></div>
            <div class="appbox_dots"></div>
            <div class="appbox_dots"></div>
            <div class="appbox_dots"></div>
            <div class="appbox_dots"></div>
            <div class="appbox_dots"></div>
            <div class="appbox_dots"></div>
            <div class="appbox_dots"></div>
        </div>
        <div class="appbox_a appbox_a_invert">
            <a href="/" ><img src="/img/appbox_icon/home.svg" alt="home"></a>
            <a href="/about" ><img src="/img/appbox_icon/person.svg" alt="about"></a>
            <a href="/contact" ><img src="/img/appbox_icon/mail.svg"alt="contact"></a>
            
            <div class="contact_trigger_button">
                <a href="#"><img src="/img/appbox_icon/call.svg" alt="contact_button"></a>
            </div>
        </div>
        <div class="dark-theme">
            <img src="/img/dark_mode_button/brightness-high-fill.svg" alt="theme_button">
        </div>
        <div class="contact contact_invert">
            <a href="https://www.facebook.com/deepaksoni0197" target="_blank" ><img src="/img/appbox_icon/Social_media_icon/logo-facebook.svg" alt="facebook"></a>
            <a href="https://twitter.com/deepaksoni_1997" target="_blank" ><img src="/img/appbox_icon/Social_media_icon/logo-twitter.svg" alt="twitter"></a>
            <a href="https://www.instagram.com/deepaksoni_1997/" target="_blank" ><img src="/img/appbox_icon/Social_media_icon/logo-instagram.svg" alt="instagram"></a>
            <a href="https://wa.me/918894068953?text=I%20came%20here%20from%20your%20website" target="_blank"><img src="/img/appbox_icon/Social_media_icon/logo-whatsapp.svg" alt="whatsapp"></a>
        </div>
        <div class="scroll_to_top">
            <p>↑</p>
        </div>
    </section>

    <section class="main">
        <div class="main_text">
            <h1>//Hello World!</h1>
            <p>I'm Deepak. I am a front-end web developer and have knowledge of back-end too. I am dedicated to my work and learn new skills every day.</p>
            <div class="main_button">
                <a href="/downloads/web_dev_cv.pdf" download><button class="home_button">
                    <p>Download CV</p>
                </button></a>
                <a href="/gallery"><button class="home_button">
                    <p>Open Gallery</p>
                </button></a>
            </div>
        </div>
        <div class="element">
        </div>
        <div class="main_img">
            <img src="/img/Untitled-2_nobg.webp" alt="Deepak Soni Illustration">
        </div>
    </section>

    <section class="body_first">
        <div class="body_first_heading hidden run">
            <h1>Can Work with:</h1>
            <p>I can work with all of these Programming Languages and Softwares.</p>
        </div>
        <div id="work">
            <div class="work_percentage">
                <div class="percentage_container">
                    <h1>HTML & CSS</h1>
                    <p><span class="per_num">90</span><span class="percent">%</span></p>
                </div>
                <svg class="svg_circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="gradientColor">
                            <stop offset="0%" stop-color="pink" />
                            <stop offset="100%" stop-color="skyblue" />
                        </linearGradient>
                    </defs>
                    <circle class="svg_circle_per" cx="50" cy="50" r="40" />
                </svg>
            </div>
            <div class="work_percentage">
                <div class="percentage_container">
                    <h1>Java Script</h1>
                    <p><span class="per_num">80</span><span class="percent">%</span></p>
                </div>
                <svg class="svg_circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="gradientColor">
                            <stop offset="0%" stop-color="pink" />
                            <stop offset="100%" stop-color="skyblue" />
                        </linearGradient>
                    </defs>
                    <circle class="svg_circle_per" cx="50" cy="50" r="40" />
                </svg>
            </div>
            <div class="work_percentage">
                <div class="percentage_container">
                    <h1>C & Python</h1>
                    <p><span class="per_num">70</span><span class="percent">%</span></p>
                </div>
                <svg class="svg_circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="gradientColor">
                            <stop offset="0%" stop-color="pink" />
                            <stop offset="100%" stop-color="skyblue" />
                        </linearGradient>
                    </defs>
                    <circle class="svg_circle_per" cx="50" cy="50" r="40" />
                </svg>
            </div>
            <div class="work_percentage">
                <div class="percentage_container">
                    <h1>Ps & Illustration</h1>
                    <p><span class="per_num">70</span><span class="percent">%</span></p>
                </div>
                <svg class="svg_circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="gradientColor">
                            <stop offset="0%" stop-color="pink" />
                            <stop offset="100%" stop-color="skyblue" />
                        </linearGradient>
                    </defs>
                    <circle class="svg_circle_per" cx="50" cy="50" r="40" />
                </svg>
            </div>
        </div>
    </section>

    <section class="body_second">
        <div class="portfolio_heading hidden">
            <h1>//Portfolio.</h1>
        </div>
        <div class="portfolio">
            <div class="card">
                <a href="/gallery" ><img src="https://i.pinimg.com/564x/5a/93/2c/5a932c800cacdd0560caae2c1b355a0e.jpg"
                    alt=""></a>
                <p class="portfolio_card">Web Apps →</p>
            </div>
            <div class="card">
                <a href="/gallery" ><img src="/img/Illustration/Girl_Anime_illustration.webp"
                    alt=""></a>
                <p class="portfolio_card">Illustration →</p>
            </div>
            <div class="card">
                <a href="/gallery" ><img src="/img/Portraits/Portrait_01.webp"
                    alt=""></a>
                <p class="portfolio_card">Portraits →</p>
            </div>
            <div class="card">
                <a href="/about"><img src="/img/my_img/Deepak_Soni.webp"
                    alt=""></a>
                <p class="portfolio_card">About Me →</p>
            </div>
        </div>
        <div class="portfolio_text hidden">
            <h1>My Work</h1>
            <p>These are the projects and work that I have done so far. I have created web apps, illustrations, and portrait drawings too.</p>
            <a href="/gallery"><button class="portfolio_button">See all →</button></a>
        </div>
    </section>


    <section>
        <div class="compatibility hidden">
            <h1>My Compatibilities</h1>
            <div class="compatibility_sec">
                <div class="compatibility_percentage">
                    <p>Problem Solving</p>
                    <div class="con">
                        <div class="con_one">
                        </div>
                        <div class="con_two">
                        </div>
                    </div>
                </div>
                <div class="compatibility_percentage">
                    <p>Creativity</p>
                    <div class="con">
                        <div class="con_one">
                        </div>
                        <div class="con_two">
                        </div>
                    </div>
                </div>
                <div class="compatibility_percentage">
                    <p>Communication</p>
                    <div class="con">
                        <div class="con_one">
                        </div>
                        <div class="con_two">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="body_third">
        <div class="third_text hidden">
            <h1>Projects</h1>
            <p>Here are some projects that I have created. Do check them out.</p>
            <a href="/gallery"><button class="portfolio_button">See all →</button></a>
        </div>
        <div class="third_card">
            <a href="/gallery"><img class="card_img" src="https://i.pinimg.com/564x/d3/c6/9f/d3c69f5bb75e95a58f48a2d76c040b0e.jpg"
                alt=""></a>
            <div class="img_info">
                <img class="img_info_img" src="/img/icons/js.png" alt="project">
                <h1>Project.</h1>
            </div>
        </div>
        <div class="third_card">
            <a href="/gallery"><img src="https://i.pinimg.com/564x/00/2c/0b/002c0b33f65c540f9799b360c52ab2df.jpg"
                alt=""></a>
            <div class="img_info">
                <img class="img_info_img" src="/img/icons/js.png" alt="project">
                <h1>Project.</h1>
            </div>
        </div>
        <div class="third_heading hidden">
            <h1>//Projs.</h1>
        </div>
    </section>

    <section id="contact_form" class="body_fourth hidden">
        <div class="contact_heading">
            <h1>Feel Free to <br> Contact Me →</h1>
        </div>
        <div class="contact_page">
            <form action="/" method="post" >
                <input class="form_input" type="text" id="name" name="name" placeholder="Name" required>
                <input class="form_input" type="text" id="company" name="company" placeholder="Company Name">
                <input class="form_input" type="email" id="e-mail" name="email" placeholder="Email" required>
                <input class="form_input" type="text-area" id="text-area" name="message" placeholder="Message" required>
                <input class="form_input" type="submit" id="submit_button" value="Submit">
                <input class="form_input" type="reset" id="reset_button" value="Reset">
            </form>
        </div>
    </section>

    <footer>
        <div class="footer">
            <div class="bottom_appbox_a">
                <h1>Social</h1>
                <a href="https://www.facebook.com/deepaksoni0197" target="_blank">Facebook</a>
                <a href="https://twitter.com/deepaksoni_1997" target="_blank">Twitter</a>
                <a href="https://www.instagram.com/deepaksoni_1997/" target="_blank">instagram</a>
                <a href="https://wa.me/918894068953?text=I%20came%20here%20from%20your%20website" target="_blank">Whatsapp</a>
            </div>
            <div class="end_text">
                <h1>Deepak <span class="soni">Soni</span></h1>
                <p>Hey, I'm Deepak Soni from Himachal Pradesh and I am a web developer. Contact me for any other information.</p>
            </div>
            <div class="bottom_appbox_a">
                <h1>Links</h1>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/gallery">Portfolio</a>
                <a href="/contact">Contact</a>
            </div>
            <div class="footer_copyright">
                <p>Created by Deepak Soni | All Right Reserved</p>
            </div>
        </div>
        </footer>
        
    </body>

    <script>
        let loadScreen = document.getElementsByClassName('loadfn')[0];
        window.addEventListener('load',()=>{
            loadScreen.style.display = 'none';
        });
    </script>
    
    </html>